body{
    background:#eee;
}

.cardd{
    border:none;

    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
    margin-left: 5%;
    margin-top: -2%;
}

.cardd:before{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#E1BEE7;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
}

.cardd:after{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#24aa5c;
    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}

.cardd:hover::after{
    transform:scaleY(1);
}


.fonts{
    font-size:20px;
}

.social-list{
    display:flex;
    list-style:none;
    justify-content:center;
    padding:0;
}

.social-list li{
    padding:10px;
    color:#24aa5c;
    font-size:19px;
}


.buttons button:nth-child(1){
       border:1px solid #24aa5c !important;
       color:#24aa5c;
       height:40px;
}

.buttons button:nth-child(1):hover{
       border:1px solid #24aa5c !important;
       color:#e4f0e6;
       height:40px;
       background-color:#24aa41;
}

.buttons button:nth-child(2){
       border:1px solid #24aa5c !important;
       background-color:#24aa5c;
       color:#fff;
        height:40px;
}