.card{
    margin-left: 20%;
    margin-right: 10px;
    margin-top: 2%;
  }
  #red{
    color: red;
  }
  
  .form-control{
    display: flex;
    flex-direction: column;
    width: 10vw;
  }
  .form-group{
    margin-right:10px ;
  }