.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.form-error {
  font-size: 1.4rem;
  color: #b22b27;
}
html,
body,
.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  border-radius: 0.5rem;
}

.table-scroll {
  border-radius: 0.5rem;
}

thead {
  top: 0;
  position: sticky;
}
.col-12 {
  margin-left: -20%;
  width: 100%;
}
.form-group {
  display: flex;
  flex-direction: row;
  justify-content:center;
  margin-left: -7%;
  margin-top: 1%;
}
.form-control {
  width: 20vw;
}

.hor{
  width: 100vw;
  height:90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #24aa5c;
}
.pagination{
  margin-left: 82%;
}