.App {
  text-align: center;
}
.Products {
  background-color: #99c3a2;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.form-error {
  font-size: 1.4rem;
  color: #b22b27;
}
html,
body,
.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  border-radius: 0.5rem;
}

.table-scroll {
  border-radius: 0.5rem;
}

thead {
  top: 0;
  position: sticky;
}
.col-12 {
  margin-left: -20%;
  width: 100%;
}
.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 20px;
  margin-left: -7%;
  margin-top: 1%;
}
.form-groupp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 20px;
  margin-left: -7%;
  margin-top: 1%;
}
.form-control {
  width: 20vw;
}
.form-controll {
  width: 40vw;
}
.Brandpanel {
  margin: 1%;
  margin-top: 0%;
}
.hor {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #24aa5c;
}
.pagination {
  margin-left: 82%;
}
.Cardd {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: 5px;
}
.Cards {
  margin-bottom: 50px;
  font-size: 40px;
}
.card-body {
  max-height: 206px;
}
.card-text {
  margin: 8px 48px 0px;
}
.CardImg {
  height: 100px;
  width: 100%;
}
.checkout {
  /* margin-top:0%; */
  margin-left: 95%;
}
.Pagination {
  margin-top: 15%;
  margin-left: 85%;
}
#pricee{
  margin-left:50%
}
#shoppy{
  margin-left:50%
}
#checkk{
  margin-right: 15%;
}